.header {
  box-shadow: 5px 5px 10px grey;
}
/* .logo {
  margin-left: 20px;
} */

.column {
  background: linear-gradient(to right, #a3c2f0, #86d0fb, #a6b2f5);
  border: 3px solid rgb(242, 243, 243);
  box-shadow: 5px 5px 10px rgb(209, 238, 238);
}
.task-data {
  background-color: white;
  box-shadow: 5px 5px 10px rgb(238, 239, 240);
}
.add-form {
  background: linear-gradient(to right, #a3c2f0, #86d0fb, #798cf7);
  box-shadow: 5px 5px 10px #a3c2f0;
  border: 4px solid #a3c2f0;
  font-family: Tahoma, Verdana, sans-serif;
  color: rgb(77, 26, 126);
  font-weight: 900;
  font-size: 18px;
}
.add-form label {
  border: 1px solid bllack;
}
